/* General rules */

* {
    box-sizing: border-box;
}

:root {
    --blue: #0065FC;
    --light-blue: #DEEBFF;
    --grey-bg: #F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 40px 50px ;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-weight: 500;
}

.euro {
    font-weight: 800;
}

/* Header */

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px; */
}

.nav-bar img {
    max-width: 110px;
    height: auto;
}

.nav-bar ul {
    display: flex;
    padding-left: 0;
}

.nav-bar a {
    padding: 54px;
    font-weight: 600;
}

.nav-bar a:hover {
    color: var(--blue);
    border-top: 2px solid var(--blue);
}

h1 {
    font-size: 20px;
    margin-top: 30px;
}

h2 {
    font-size: 18px;
    font-weight: 800;
}

/* Searchbar */

.searchbar i {
    padding: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--grey-bg);
}

.searchbar input[type="search"] {
    border: 2px solid var(--grey-bg);
    padding: 11px;
}

.searchbar {
    display: flex;
}

input[type="submit"] {
    color: white;
    background-color: var(--blue);
    border-color: var(--blue);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10.75px;
    font-weight: 600;
}

.criteres {
    font-weight: 700;
    border: 2px solid var(--grey-bg);
    border-radius: 50px;
    padding-right: 10px;
}

.criteres i {
    width: 36px;
    height: 36px;
    padding: 10px;
    background-color: var(--light-blue);
    border-radius: 50%;
    color: var(--blue);
}

.filters {
    margin: 15px 0 40px;
}

.filters ul {
    display: flex;
    gap: 20px;
}

.title-box {
    display: flex;
    align-items: center;
}

.money {
    position:relative;
    top: 3px;
}

.info-bubble {
    margin-top: 15px;
}

.info-bubble i {
    width: 25px;
    height: 25px;
    border: 2px solid var(--grey-bg);
    border-radius: 50%;
    padding: 5px;
    color: var(--blue);
}

.info-bubble i::before {
    position: relative;
    left: 3.5px;
}

/* Main */

/* Cards */

.hotel-cards, .popular-cards {
    min-width: 210px;
    background-color: white;
    box-shadow: 0px 5px 20px #999;
    border-radius: 20px;
    padding: 5px 5px 10px;
    font-size: 12px;
    margin: 15px;
}

.hotel-cards img, .popular-cards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-desc {
    padding-left: 10px;
    margin-bottom: 3px;
}

.card-desc > * {
    margin: 5px 0;
}

.star-wrapper {
    color: var(--blue);
}

.grey-star {
    color: rgba(128, 128, 128, 0.356);
}

.hotel-cards:hover, .popular-cards:hover {
    transition: .3s;
    box-shadow: 0px 10px 20px 10px #999;
}

.lodging-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-city {
    display: flex;
}

.lodging-section {
    margin-right: 30px;
    width: 66%;
}

.lodging-section, .popular-section {
    background-color: var(--grey-bg);
    border-radius: 20px;
    padding: 20px 20px 0px;
}

.popular-section {
    width: 30%;
}

.card-title h3 {
    margin: 0;
}

.flex-icon {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 95%;
}

.popular-cards a {
    display: flex;
    padding-bottom: 0px;
}

.popular-cards {
    margin-bottom: 40px;
    height: 120px;
}

.popular-cards img {
    border-bottom-left-radius: 10px;
    border-top-right-radius: initial;
    object-fit: cover;  
    width: 40%;
    height: 110px;
}

.card-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

